<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954350645144-jfm3b3fd0t497v92jo4ao7o4onr4j64a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954350645144-jfm3b3fd0t497v92jo4ao7o4onr4j64a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>954350645144-4avtdls52aj6tgfq8l5df4ivqa4tj1v9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCP8OPjlrmDkxoUklqd_f7B3lnZKxSJwdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>954350645144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewa.reliable</string>
	<key>PROJECT_ID</key>
	<string>omkar-app</string>
	<key>STORAGE_BUCKET</key>
	<string>omkar-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954350645144:ios:f0e8e2e4c7a27ba08d85ed</string>
</dict>
</plist>